.navbar-default {
	background-image: none;
	margin-bottom: 20px;
}

body {
    background-color: #F0F0F0;
}

.title {
    padding-top: 10px;
}

.page-title, #subjectSelector {
	display: inline-block;	
	float: none;
	margin: 10px;
}

.dc-select-menu {
    background-color: #ffffff;
    margin: 20px;
}

.section {
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin: 40px;
    padding: 20px;
    background-color: #ffffff;
    -moz-box-shadow: 2px 2px 20px 1px #F0F0F0; 
	-webkit-box-shadow: 2px 2px 20px 1px #F0F0F0;    ; 
    box-shadow: 2px 2px 20px 3px #e0e0e0;    
}